{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :aliases {:check {:extra-deps
                   {athos/clj-check
                    {:git/url "https://github.com/athos/clj-check.git"
                     :sha "0ca84df1357d71429243b99908303f45a934654c"}}
                   :main-opts ["-m" "clj-check.check"]}
           :cljs {:extra-deps
                  {org.clojure/clojurescript {:mvn/version "1.11.57"}}}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "postmortem.test-runner"]}
           :coverage {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                      :main-opts ["-m" "cloverage.coverage"
                                  "-p" "src" "-s" "test" "--codecov"
                                  "--ns-exclude-regex" "postmortem.instrument(.cljs)?"]}
           :test-cljs {:main-opts ["-m" "cljs.main" "-re" "node"
                                   "-m" "postmortem.test-runner"]}
           :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :build {:deps
                   {io.github.clojure/tools.build
                    {:git/tag "v0.8.3" :git/sha "0d20256"}
                    io.github.seancorfield/build-clj
                    {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
                   :ns-default build}}}
