{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :aliases {:check {:extra-deps
                   {athos/clj-check
                    {:git/url "https://github.com/athos/clj-check.git"
                     :sha "a2f4d4cb6ef347bff420edb66629e41d530b9668"}}
                   :main-opts ["-m" "clj-check.check"]}
           :cljs {:extra-deps
                  {org.clojure/clojurescript {:mvn/version "1.10.520"}}}
           :test {:extra-paths ["test"]}
           :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}}}
